<!DOCTYPE html>
<html>
    <head>
        <title>handlebars</title>
    </head>
    <body>
        <div class="container">
            <p>***Professores do IComp/UFAM:***</p>
            {{{listProfs professores}}}
        </div>
    </body>
</html>